/* Grundlegende Styles für alle Bildschirmgrößen */

html, body {
    height: 100%;
}
body {
    background-color: #ffffff;
    margin: 0;
    font-family: 'Inria Sans', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}
* {
    box-sizing: border-box;
}

.wrapper {
    min-height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #9AB59C;
}
.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    background-color: #ffffff;
    margin: auto;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.logo {
    max-width: 90%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

.karte {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0px auto 30px;
}

#pollenTypeSelect {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Ermöglicht Umbrüche für kleinere Bildschirme */
}

#dateSelect, #hourSelect {
    font-size: 1rem;  /* Größere Schriftgröße für bessere Lesbarkeit */
    width: 50%;       /* Breite der Eingabefelder */
    padding: 12px 20px; /* Padding für größere Klickfläche und bessere Sichtbarkeit */
    margin: 10px auto;  /* Zentriert die Elemente und gibt vertikalen Abstand */
    display: block;   /* Ermöglicht margin auto zu wirken */
    border: 2px solid #cccccc; /* Grenze für Eingabefelder */
    border-radius: 4px; /* Leicht abgerundete Ecken für die Eingabefelder */
    background-color: #f9f9f9; /* Hintergrundfarbe der Eingabefelder */
}

.pollen-checkbox {
    margin-right: 5px;
}

.pollen-info {
    width: 65%;
    margin: 20px auto;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    max-width: 100%;
}

.infoText {
    font-size: 16px;
    color: #333;
}

.legend {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 10px;
}

.color-box {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
}

.description {
    font-size: 1rem;
}

/* Media Queries für verschiedene Bildschirmgrößen */

@media (min-width: 768px) {
    .container {
        width: 80%;
        max-width: 850px;
        padding: 50px;
    }
    .pollen-info {
        width: 70%;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.5rem;
        margin-bottom: 30px;
    }
    #dateSelect, #hourSelect {
        font-size: 1.1rem;
        width: 60%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 70%;
        max-width: 1000px;
        padding: 40px;
    }
    .pollen-info {
        width: 60%;
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 1.75rem;
        margin-bottom: 40px;
    }
    #dateSelect, #hourSelect {
        width: 50%;
    }
}

@media (max-width: 767px) {
    .legend {
        flex-direction: column;
        align-items: flex-start;
    }
    .legend-item {
        display: flex;
        align-items: center;
        margin-right: 0;
        margin-bottom: 15px;
        width: 100%;
    }
    .color-box {
        width: 20px;
        height: 20px;
        display: block;
        margin-right: 10px;
    }
    .description {
        flex: 1;
        text-align: left;
    }
}